<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 30px; padding-left: 65px">

    <div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Колонка</option>
            <option value="1">#</option>
        </select>

        <select class="form-select" aria-label="Default select example">
            <option selected>Условие</option>
            <option value="1">=</option>
            <option value="2"> > </option>
            <option value="3"> < </option>
            <option value="3"> Содержит </option>
        </select>

        <input type="text" class="form-control" placeholder="Значение" aria-label="Recipient's username"
               aria-describedby="basic-addon2"><br>

    </div>
    <div class="col-9">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Название</th>
                <th scope="col">Количество</th>
                <th scope="col">Расстояние</th>
            </tr>
            </thead>
            <tbody>
            {% for field in fields %}
                <tr>
                    <td id="date">{{ field.date }}</td>
                    <td id="name">{{ field.name }}</td>
                    <td id="quantity">{{ field.quantity }}</td>
                    <td id="distance">{{ field.distance }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <!-- Пагинация -->

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>